@using X.PagedList.Mvc.Core;
@using X.PagedList;
@model IPagedList<WebApplication5.Models.ViewModels.UserRolesViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h1>Users</h1>
@if (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("SuperAdmin"))
{
    <br />
    @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
	{
        <a asp-action="Create" class="btn btn-primary">Create User</a>
        <br />
        <br />
        <div class="flex-column">
                <a asp-action="DownloadQrs" class="btn btn-primary">Download All User QR Codes</a>
                <a asp-action="SelectQrs" class="btn btn-secondary">Select User QR Codes for Download</a>
        </div>
	}
    <br />
    <div class="flex-column">
        <a asp-action="DownloadImages" class="btn btn-primary">Download All User Profile Images</a>
        <a asp-action="SelectImages" class="btn btn-secondary">Select User Profile Images for Download</a>
    </div>
    <br />
}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Roles</th>
            @if (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("SuperAdmin"))
            {
                <th>Action</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.FirstName @user.LastName</td>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@string.Join(" , ", user.Roles.Where(role => role != "ActivityAdmin" && role != "ActivityMember"))</td>
                @if (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("SuperAdmin"))
                {
                    <td>
                        <a class="btn btn-primary" asp-controller="UserManager" asp-action="Edit" asp-route-userId="@user.UserId">Edit</a>
                        <a class="btn btn-primary" asp-controller="UserManager" asp-action="Manage" asp-route-userId="@user.UserId">Manage</a>
                        <a class="btn btn-danger" asp-controller="UserManager" asp-action="Delete" asp-route-userId="@user.UserId">Delete</a>
                    </td>
                }
            </tr>   
        }
    </tbody>
</table>
<div class="d-flex justify-content-center">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions
{
    LiElementClasses = new[] { "page-item" },
    PageClasses = new[] { "page-link" },
    UlElementClasses = new[] { "pagination" }
})
</div>