@using WebApplication5.Models
@model List<WebApplication5.Models.UserRolesViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>User Roles</h1>
<br />
<a asp-action="Create" class="btn btn-primary">Create User</a>
<br />
<table class="table table-striped">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.FirstName @user.LastName</td>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@string.Join(" , ", user.Roles.ToList())</td>
                <td>
                    <a class="btn btn-primary" asp-controller="UserManager" asp-action="Manage" asp-route-userId="@user.UserId">Manage</a>
                    <a class="btn btn-danger" asp-controller="UserManager" asp-action="Delete" asp-route-userId="@user.UserId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>